.news_container{
    padding: 50px 40px;
}

.news_wrap{
    display: flex;
    flex-direction: column;
}

.news_wrap li {
    position: relative;
    min-height: 150px;
    padding-left: 200px;
}

.news_wrap li img{
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 100px;
}

.news_wrap li a {
    color: #000;
    text-decoration: none;
}

