* {padding: 0; margin: 0; list-style: none;}

.wrap{
    background-color: black;
    display: flex;
    justify-content: space-between;
    /* 한줄일때 수직정렬 */
    align-items: center;
    color: white;
    padding: 20px;
}

.wrap .wrap_list{
    display: flex;
    justify-content: space-around;
    flex-basis: 300px;
}